
#root {
    height: 100%;
  
  }

  .background {
    background-color: white;
    border-radius: 10px;
  }
  
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    animation: gradientAnimation 10s ease infinite;
    color: #FFFFFF;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-text {
    display: inline-block;
    background-color: #999999;
    background-clip: text;
    color: transparent;
    margin-top: 5px; /* Adjust the margin-top value as needed */
    font-size: 50px;
    font-weight: bold;
  }

  .buttonDashboard{
    margin-top: 3rem;
  }